# Loan Data
This dataset consists of more than 9,500 loans with information on the loan structure, the borrower, and whether the loan was pain back in full. This data was extracted from LendingClub.com, which is a company that connects borrowers with investors.

In [2]:
# Load packages
import pandas as pd
pd.read_csv('loan_data.csv')

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [3]:
pd.read_csv('variable_explanation.csv')

             Variable                                        Explanation
0       credit_policy  1 if the customer meets the credit underwritin...
1             purpose                           The purpose of the loan.
2            int_rate  The interest rate of the loan (more risky borr...
3         installment  The monthly installments owed by the borrower ...
4      log_annual_inc  The natural log of the self-reported annual in...
5                 dti  The debt-to-income ratio of the borrower (amou...
6                fico             The FICO credit score of the borrower.
7   days_with_cr_line  The number of days the borrower has had a cred...
8           revol_bal  The borrower's revolving balance (amount unpai...
9          revol_util  The borrower's revolving line utilization rate...
10     inq_last_6mths  The borrower's number of inquiries by creditor...
11        delinq_2yrs  The number of times the borrower had been 30+ ...
12            pub_rec  The borrower's number of derogatory public rec...
13     not_fully_paid      1 if the loan is not fully paid; 0 otherwise.

[Source of dataset](https://www.kaggle.com/itssuru/loan-data).